$white: white;
$black: black;
$grey: #F0F3F4;

$swiper-theme-color: #007AFF;
$swiper-preloader-color: #007AFF;
$swiper-navigation-color: white;
$swiper-pagination-color: white;

$swiper-navigation-size: 44px;



