@import "./colors";
@import "./functions";
@import "./global";
@import "./fonts";
@import "libs/lib-general/**/*.scss";
@import "libs/lib-general/*.scss";
@import "libs/lib-swiper/swiper.scss";
@import "main/**/*.scss";
@import "elements/**/*.scss";
@import "trays/**/*.scss";


body{
    background-color: red;
}
/* MEDIA QUERIES */
@media screen and (max-width: 1024px) {


   .navigation {

        .mega-menu-container{
            

            .mega-menu-wrapper {
                @include position(relative);
                padding-top: 10rem;
                padding-bottom: 10rem;
                @include ease(.3s);
                
                .show-mobile{
                    
                }   

                .mega-menu{
                    @include position(absolute);
                    top: 0;
                    left: calc(100% + 40px);
                    width: calc(100% + 40px);
                    padding-top: 10rem;
                    padding-bottom: 10rem;
                    opacity: 1;
                    visibility: visible;
                }

                .dropdown {
                    .dropdown-arrow{
                        height: 23px;
                        width: 23px;
                        position: absolute;
                        top: 0;
                        right: 0;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                    }
                }


                .select-arrow.revese.back-main-menu {
                    transform: rotate(180deg);
                    width: 16px;
                    margin-bottom: 3rem;
                }

                

            }  
            
            .column {
                width: 100%;

                &.mega-menu__contact{
                    display: none;
                }
            }

        }

        &.menu-open{
            .mega-menu-container{
                @include transform(translateY(0%));   
            }
        }

        &.pushed{
            .mega-menu-container{
                .mega-menu-wrapper{
                    @include transform(translateX(-100%));    
                }

                .mega-menu{
                    left: 100%;
                }

                .dropdown {
                    .dropdown-arrow{
                        height: 23px;
                        width: 23px;
                        position: absolute;
                        top: 0;
                        right: 40px;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                    }
                }
            }
        } 
    }
}

@media screen and (max-width: 767px) {
    html{
        font-size: 10px;
    }


    body {
        &.post_theme{
            &_show_0{
                .header{
                    &_inner{
                        max-width: unset;
                    }
                }
            }

            &_show_1{

                .header{
                    padding: 13rem 0 4rem;
                }

                .render-content{
                    padding: 0;
                    margin-top: 0;
                }
            }
            &_1{
                .header{
                    padding-top: 13rem;
                }

                .items-container{
                    .item{
                        width: 100%;
                        margin-right: 0;

                        &:nth-child(2n){
                            top: 0;
                        }

                        &:nth-child(1n), 
                        &:nth-child(3n) {
                            top: 0;
                            margin-right: 0;
                        }
                    }
                     
                    &:before{
                        display: none;
                    }
                }
            }
        }

        .plate--column{
            min-height: 0px;
        }

        &.post_conduct_show {
            h1{
                font-size: var(--font-2);
                line-height: var(--font-2-line);
            }

            .header_inner {
                .upload-date{
                    margin-top: 1.3rem;
                }
            }
        }
    }

    .header{
        &_inner{
            max-width: unset;
        }
    }

    .header_image{
        margin-bottom: 4rem;

        h6{
            left: 4rem;
        }
    }


    .slider-container {
        .slider {
            &.images_slider{
                padding-bottom: 0px;

                .swiper-button{
                    left: 20px;
                    bottom: 20px;
                    @include transform(translateX(0));
                  
                    &.swiper-button-next{
                        bottom: 20px;
                        @include transform(translateX(calc(100% + 10px)));
                    }

                    &.swiper-button-prev{
                        @include transform(translateX(0) rotate(180deg));
                    }
                }
            }
        }
    }

    .post-share{
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    .section-container {
        .section-content {
            .section_side{
                width: 100%;
                padding: 6rem 4rem;
                min-height: unset;
                order: 2;

                &.bg-cover{
                    order: 1;
                    padding: 0rem 4rem 56.25%;
                }
            }
        }
    }

    .link_wrapper{
        background-image: none!important;
        padding: 0 0 0 0;
        background-color: transparent;

        &_inner{
            margin-bottom: 0;
            width: 100%;      
        }

        &.outside{
            &.pos_lb, &.pos_rb, &.pos_lb, &.pos_ro {
                @include zero;
            }

            .link_wrapper_inner{ 
                margin-top: 0!important;
                margin-bottom: 0!important;
            }
        }

        .link-mobile-img{
            display: block;
            padding-top: 56.25%;
            margin-bottom: 4rem;
            width: 100%;
        }

    }

    .item{
        width: 100%;
        margin-right: 0;
    }

    .sidebar{
        margin-bottom: 2rem;
        .sidebar_item{
            padding: 4rem;
        }
    }

    footer {
        .footer{
            padding: 6rem 0;
            
            .copyright{
                margin-top: 10rem;
                .copyright-left{
                    p{
                        width: 100%;
                    }
                    a{
                        width: 100%;
                    }
                    .link{
                        width: 100%;
                        margin-left: 0;
                        margin-right: 0;
                    }
                }
            }
        }
    }

    .navigation{
        .menu-button {
            font-size: var(--font-7);
            line-height: var(--font-line-7);
        }

        
        &.menu-open{
            .navbar_brand{
                img{

                }
            }  
        }
    }
}


@media screen and (min-width: 1153px) {
    html{
        font-size: 10px;
    }
}

@media screen and (min-width: 1367px) {
    body{
        &.post_theme{
            &_show_1 {
                .header_image{
                    margin-top: 0;
                    padding-top: 0;
                    height: 63.7rem;
                }
            }
        }
    }
}

