/* COMPANY */
.company{
    &.company-background{
        padding: 4rem;

        p{
            &:nth-last-child(1){
                margin-bottom: 0;
            }
        }
    }
    .bold{
        margin-bottom: 1.7rem
    }

    a{
        text-decoration: none;
        color: var(--clr-3);
    }
}
