/* CTA */
.cta{
    @include position(relative);
    h2{
        margin-bottom: 2.1rem;
    
    }

    p{
        margin-bottom: 3.7rem;
    }

    &.dark{
        h2, p{
            color: var(--clr-3);
        }
    }

    &.light{
        h2, p{
            color: $white;
        }
    }

    &.cta-img{
        padding-top: 12.5rem;
        padding-bottom: 12.5rem;

        @include media-breakpoint-down(sm){
            padding-top: 5rem;
            padding-bottom: 5rem;
        }    
    }
}
