/* LINKS */
.link_wrapper{
    position: relative;
    padding: 0 calc(100% / 12) 12rem;
    background-color: var(--clr-3);

    &.pos_rb, &.pos_ro {
        .link_wrapper_inner{ 
            margin-left: auto;
        }
    }

    &.pos_lo, &.pos_ro{
        padding-top: 12rem;
        padding-bottom: 0;
        .link_wrapper_inner{ 
            margin-top: 12rem;
            margin-bottom: 0rem;
        }
    }
    
    &.outside{
        &.pos_lb, &.pos_rb{
            margin-top: 5rem;
            .link_wrapper_inner{ 
                margin-top: -5rem;
                margin-bottom: 17rem;
            }
        }

        &.pos_lo, &.pos_ro{
            margin-bottom: 5rem;
            .link_wrapper_inner{ 
                margin-top: 17rem;
                margin-bottom: -5rem;
            }
        }
    }

    &_inner{
        display: inline-block;
        background: white;
        padding: 3rem 4rem 0;
        margin-bottom: 12rem;

        &.numbers{
            a{
                &::before{
                    display: none;
                }

                .link {
                    padding-left: 2.5rem;
                }

                .number{
                    @include position(absolute);
                    color: var(--clr-1);
                    @include fonts(var(--font-font-1-link), 1.2rem, var(--font-7-line));
                    text-transform: var(--font-6-cap);
                    left: 0;
                }
            }
        }
    }

    .link-mobile-img{
        display: none;
    }

    &.no-img{
        padding: 0 0 0 0;
        .link_wrapper_inner{
            margin-bottom: 0;
            width: 100%
        } 
    }
    h2{
        margin-bottom: 1.2rem;
        color: var(--clr-3)
    }

   
    a{
        position: relative;
        color: var(--clr-3);
        text-decoration: none;
    
        &::before{
            content: "";
            position: absolute;
            top: 2.7rem;
            left: -0.5rem;
            height: 0.8rem;
            width: 0.8rem;
            background: transparent;
            border: 1px solid var(--clr-1);
            border-top: none;
            border-left: none;
            border-radius: 0px 0px 2px 0;
            @include transform(rotate(-45deg)); 
        }

        &:nth-last-child(1) .link{
            border-bottom: none;
            padding-bottom: 3.9rem;
        
            &::after{
                display: none;
            }
        }
        .link {
            @include position(relative);
            min-width: 28rem;
            padding: 2.1rem 1rem 2.41rem 1.5rem;

            &::after{
                content: '';
                background-color: $grey;
                height: 1px;
                width: 100%;
                bottom: 0;
                left: 0;
                @include position(absolute);
            }
            p{
                margin-bottom: 0;
            }
        }
    }
}