/* MENU */
.menu-element{
    .menu_items{
        list-style: none;
        
        li {
            @include position(relative);

            a{
                text-decoration: none;
                line-height: 3.4rem;
                font-weight: var(--font-5-fw);
            }
        }

        &.list-indicator{
            padding-left: 3.6rem;
       
             
            li {
                &::before{
                    content: '';
                    @include position(absolute);
                    left: -3.6rem;
                    top: .3rem;
                    height: 2.6rem;
                    width: 2.6rem;
                    background-color: white;
                    @include border-radius(var(--bdr-1));
                }

                a{
                    font-weight: 400;
                }
            }
        }
    }
}
