.text-parallax{
    @include position(relative);
    .horizontal-text {
        @include position(absolute);
        display: flex;
        white-space: nowrap;
        width: 300vw;
        overflow: visible;
        left: 0;
        top: 50%;
        @include transform(translateY(-50%));

        &-container{
            @include position(relative);

            h3{
                margin-bottom: 0;
                color: var(--clr-1);
            }

            .stripe{
                margin-left: 2.5rem;
                margin-right: 2.5rem;
            }
        }
        &-background{
            @include position(absolute);
            width: 300vw;
            height: 100%;
            top: 0;
            left: -100vw;
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;
        }
    }
}
