/* PARAGRAPH */
.paragraph {
    @include position(relative);
    
    p, h2, h3, h4, h5, h6{
        &:nth-last-child(1){
            margin-bottom: 0;
        }
    }
    ul{
        list-style: none;
        padding-left: 1.2rem;
        margin-bottom: 2rem;

        li {
            @include position(relative);

            &::before{
                content: "";
                position: absolute;
                top: 1rem;
                left: -1.2rem;
                height: 4px;
                width: 4px;
                background-color: var(--clr-3);
                @include border-radius(var(--bdr-1));
            }
        }
    }
}

/* TABLE */
table {
    td{
        padding-right: 3rem;
    }
}