/* USPS */
.usp{
    @include position(relative);
    padding: 0 4rem;

    &_icon{
        @include position(relative);
        color: var(--clr-3);
        font-size: 4.2rem;
        margin-left: -0.11em;
        margin-bottom: 2.62rem;
        height: 4.2rem;
        width: 4.2rem;

        &.ups_img{
            margin-left: 0;
            background-position: left bottom;
        }
    }

    h3{
        margin-bottom: 1.6rem;
        color: var(--clr-3);
    }

    p{
        color: var(--clr-3);
        margin-bottom: 0;
    }

    @include media-breakpoint-down(md){
        padding: 0 0 0 0;
    }
}
