/* USP */
.usp-list{
    position: relative;

    ul{
        margin-bottom: 0;

        li{
            margin-bottom: 0;
            margin-right: 1.5rem;
            margin-bottom: 1.5rem;
            list-style: none;

            svg{
                width: 1.4rem;
                margin-right: 1rem;
            }

            &:nth-last-child(1){
                margin-right: 0;
            }   
        }
    }
}