/* VIDEO */
.video {
    overflow: hidden;
    @include position(relative);
    padding-top: 58.55%;
    
    iframe{
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
    }

    .thumbnail{
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        background-color: var(--clr-3);
        display: flex;
        justify-content: center;
        align-content: center;
        cursor: pointer;
        transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;

        svg {

            width: 63px;

            path{
                fill: var(--clr-1)
            }
        }

        &.active-vid{
            filter: saturate(2);
            -webkit-filter: saturate(2);
            @include transform(translateY(100%));   
        }
    }
} 