/* FOOTER */
footer{
    
    .footer {
        @include position(relative);
        padding: 10rem 0;
        
        &.full-footer{
            .plate--container{
                max-width: unset;
            }
        }
        .service{
            padding: 0 0 0 0;
            background-color: transparent;
        }
        

        &.thdark{
            background: var(--clr-3);
            .menu_items{
               li a{
                   color: $white;
               } 
            }

            p, li, h2, h3, h4, h5, h6{
                color: $white;
            }

            .service{
                li{
                    color: $white;

                    &::after{
                        background-color: white;
                        opacity: .1;
                    }

                    a {
                        color: inherit;
                    }
                }
            }

            .company{
                a{
                    color: $white;
                }
            }   

            .social-share-items{
                .social-link{
                    color: $white;
                }
            }
        }

        &.thlight{
            background-color: #ffffff;
            .menu_items{
                li a{
                    color: var(--clr-3);
                } 
            }

            .service{
                li{
                    color: var(--clr-3);
                    
                    &::after{
                        background-color: $grey;
                    }

                    a {
                        color: inherit;
                    }
                }
            }
            p, h2, h3, h4, h5, h6{
                color: var(--clr-3);
            }

        }

        .copyright{
            @include position(relative);
            margin-top: 8.7rem;

            p, a {
                font-size: 1.5rem;
                line-height: 2.3rem;
                text-decoration: none;
            }

            .link{
                margin-right: 3px;
                margin-left: 10px;
            }
        }
    }
}