/* HEADER */
.slider{
    &-container{
        &-header{
            @include position(relative);
        }
    }
}

.post_conduct_index.post_type_page{
    .header{
        @include media-breakpoint-up(md){
            min-height: var(--hea-hei);
        }
    }
}

.header {
    @include position(relative);
    padding: 24rem 0 18.2rem;
    
    @keyframes opacity-smooth {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    &-trans{
        animation: opacity-smooth 1s forwards;
        -webkit-animation: opacity-smooth 1s forwards;
    }

    &-vid{
        @include position(absolute);
        top: 0;
        left: 0;
        @include box(100%, 100%);
        object-fit: cover;
        pointer-events: none;
    }

    &_slider{
        .swiper{
            &-slide{
                height: auto;
                .header{
                    height: 100%;
                }
            }
        }
    }

    &.empty_img{
        background-color: var(--clr-3);
        padding: 19.1rem 0 14rem;
        
        &::before{
            content: '';
            display: none;
        }
    }

    &.min_img{
        padding: 0 0 32rem;
    }

    &_inner {
        @include position(relative);    
        z-index: 1;
        max-width: 50%;

        &_center{
            margin: 0 auto;
        }

        &_right{
            margin: 0 0 0 auto;
        }

        h1, p {
            color: $white;
        }

        p:nth-last-child(1){
            margin-bottom: 0;
        }

        p.intro{
            margin-top: 2.4rem;
        }
        
        .upload-date{
            margin-top: 2rem;
        }
    }

    &_button{
        margin-top: 3.4rem;
    }

    &::before{
        content: "";
        @include position(absolute);
        background: var(--hea-ovl);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: .5;    
    }

    .breadcrumbs {
        p{
            margin-top: 0;
            margin-bottom: 1.5rem;
            color: var(--clr-1); 
        }

        a {
            color: var(--clr-1);
            text-decoration: none;
        }

    }

    &_image{
        @include position(relative);
        margin-top: -17rem;
        padding-top: 56.25%;
        margin-bottom: 5rem;

        h6{
            @include position(absolute);
            margin-bottom: 0;
            left: 30px;
            bottom: 28px;
            color: white;
            opacity: .5;
        }
    }
    .theme {
        &_0{
            max-width: unset;
            align-items: center;

            * {
                text-align: center;
            }
        }
    
    }
}


.relative-sc{
    @include position(relative);
    width: 100%;  
}

.categories{
    @include position(relative);
    margin-top: 4rem;

    .category {
        
        pointer-events: auto;
        @include position(relative);
        padding: .5rem 2rem;
        
        margin: 0 .5rem .5rem;
    
        &::before{
            content: '';
            @include position(absolute);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.2);
            @include border-radius(var(--bdr-2));
        }

        &.checked{
            &::before{
                background: var(--clr-1);
            }
        }

        label{ 
            pointer-events: auto;
            @include position(relative);
            color: $white;
        }

        input {
            cursor: pointer;
            pointer-events: auto;
            @include position(absolute);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
        }
    }

    &.pc__categories{
        margin-bottom: 6rem;
        .category{
            margin-left: 0;
            margin-right: 1rem;
            &::before{
                content: '';
                @include position(absolute);
                background: var(--clr-4);
            }
            
            a{
                @include position(relative);
                font-size: var(--font-7);
                line-height: var(--font-7-line);
                color: var(--clr-3);
                text-decoration: none;
            }
            &.checked{
                &::before{
                    background: var(--clr-1);
                }

                a{
                    color: $white;
                }
            }
        }
    }
}

/* EXTERN HEADER */ 
.extern-header{
    @include position(relative);
    padding-top: 10rem;
    padding-bottom: 5rem;

    h1{
        max-width: 700px;
    }

    &.pc_header{
        padding-top: 5.6rem;
        padding-bottom: 0rem;

        h1{
            font-size: var(--font-1);
            line-height: var(--font-1-line);
            color: var(--clr-3);
        }

        .pc__description_index{
            p{
                margin-top: 2.5rem;
                margin-bottom: 0;
                
            }
        }

       
    }
}
